label{
 font-family: bold;
}
legend{
font-size: 1.25m;
padding: 0.25;
color: #999;

}
input{
padding:.6em;
border: solid 1px #999;

} 
input[type= "text"],input[type="date"],input[type="tel"],input[type="email"]{
    width: 25em;
}
input[type="submit"]{
   padding: .5em 1em;
    width: 26em;
    border-radius: 6px;
    background-color: #000000;
   color:#fff;
}
textarea{

    min-height: 10em;
    min-width: 25em;
    padding: .5em;
    border: solid 1px #999;
}
input[type="option"]{
    width: 25em;
}
select{
    width: 26em;
}